@use 'sass:map';
@use '../abstracts' as *;
@use '../components' as *;

#home {
  background-color: map.get($red, 500);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header-index;
  width: 100%;
  padding: 28px 24px;
  @include flex($flow: row-reverse nowrap, $x: space-between);
}

.feml {
  $feml-inner: 8px;

  a {
    display: block;
    padding: $feml-inner;
  }

  img {
    vertical-align: bottom;
  }
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  flex-grow: 1;
  transform: translate(-50%, -50%);
}

.main {
  @include flex;
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 67%;
}
